{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">


<br><br><br><br><br><br><br>
<div class="container">
			<p>Apakah anda yakin ingin mata kuliah : {{kegiatan}}?</p>

			<form action="{% url 'delete_kegiatan' kegiatan.id  %}" method="POST">
				
                {% csrf_token %}
                <div class="text-center">
                    <input class="btn btn-danger" type="submit" name="Hapus">
                    <a class="btn btn-warning" href="{% url 'webpage5' %}">Batal</a>
                </div>
				
			</form>	
</div>
{% endblock %}