{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">

<br><br><br><br><br><br><br>
<div class="col">
	
        <table class="table">
            {% csrf_token %}
            <thead class="thead-dark">
              <tr>
                <th scope="col">Kegiatan</th>
                <th scope="col">Peserta</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Jam</th>
                
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                {% for i in kegiatan %}
                  <tr>
                    <td>
                      {{i.nama_kegiatan}}
                    </td>
                    <td>
                      {{i.nama_peserta}}
                    </td>
                    <td>
                      {{i.deskripsi_kegiatan}}
                    </td>
                    <td>
                      {{i.tanggal_kegiatan}}
                    </td>
                    <td>
                      {{i.jam_kegiatan}}
                    </td>
                    
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_kegiatan' i.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_kegiatan' i.id %}">Delete</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
				
			

		
	
</div>


{% endblock %}