{% extends 'home/base.html' %}
{% block content %}
{% load static %}
  <body>
      <div class="jumbotron bg-transparent" style="margin-top: 150px">
        <div class="container"></div>
          <h1 style= "text-align: center" class="display-4">Assalamualaikum<br>Perkenalkan nama saya 
            Muhammad Ravi
            <br>Selamat datang di website saya &#128512</h1>
            <br>
            <div class="text-center">
              <a class="btn btn-primary btn-lg" style= "align= center" href="/tambah/"button">Mulai tambah kegiatan</a>
            </div>
        </div>
    </div>
    {% endblock %}
