{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
    <body>
        <div class="container">
            <h1>
                Tambah Data Kegiatan
            </h1>
        </div>
        <form action="/tambahSubmisi/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleFormControlInput1">Nama Kegiatan</label>
              <input name="nama_kegiatan" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Singkat Kegiatan">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nama Peserta</label>
                <input name="nama_peserta" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Panggilan Peserta">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Deskripsi Kegiatan</label>
              <textarea name="deskripsi_kegiatan" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Deskripsi kegiatan"></textarea>
            </div>
            <div class="form-group">
             <label for="exampleFormControlInput1">Tanggal Kegiatan</label>
             <input name="tanggal_kegiatan" type="date" class="form-control" id="exampleFormControlInput1" placeholder="dd/mm/yyyy">
            </div>  
            <div class="form-group">
              <label for="exampleFormControlInput1">Jam Kegiatan</label>
              <input name="jam_kegiatan" type="time" class="form-control" id="exampleFormControlInput1" placeholder="hh:mm">
             </div>  
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Tambah">
          </form>
          
    
{% endblock %}